head
    style.
        $height-footer: 60px;
        html {
            body {
                background-color: white;
                color: red;
            }
            #footer {
                bottom: 0;
                width: 100%;
                position: absolute;
                height: $height-footer;
                background-color: #f5f5f5;
                .footer-block {
                    margin: 20px 0;
                }
            }
        }